
~$Park_Fields.xlsx
Park_Fields.xlsx
2021-12-03 19_03_44-Park_Fields - Excel.png
SFPark_standard_meter_behavior.png
grouper_funct.txt
Meter_Operating_Schedules.csv
Meter_Regular_Operating.csv
Meter_Regular_Operating_Good.csv
meter_starts_ends.parquet
meter_transactions.parquet
SFMTA_Parking_Meter_Detailed_Revenue_Transactions.csv
CPLN 500 - Paper 2.pdf
workspace.code-workspace
meter_starts_ends_Q1.parquet
meter_starts_ends_Jan.parquet
dask-worker-space/global.lock
dask-worker-space/purge.lock
dask-worker-space/worker-2g0v02hh.dirlock
dask-worker-space/worker-9tp78cry.dirlock
dask-worker-space/worker-ebxxocw2.dirlock
dask-worker-space/worker-gki99r6j.dirlock
dask-worker-space/worker-jms9e3hj.dirlock
dask-worker-space/worker-lddraxv7.dirlock
dask-worker-space/worker-m1yrbcbs.dirlock
dask-worker-space/worker-xjpw7i0q.dirlock
MUSA508_FINAL_SFPARK_cache/html/comp_tab_f37aefc62becf283835cb33fc291f852.RData
MUSA508_FINAL_SFPARK_cache/html/comp_tab_f37aefc62becf283835cb33fc291f852.rdb
MUSA508_FINAL_SFPARK_cache/html/comp_tab_f37aefc62becf283835cb33fc291f852.rdx
MUSA508_FINAL_SFPARK_cache/html/comp_table_f484ebe6b65caebcceb6535e1918c3e7.RData
MUSA508_FINAL_SFPARK_cache/html/comp_table_f484ebe6b65caebcceb6535e1918c3e7.rdb
MUSA508_FINAL_SFPARK_cache/html/comp_table_f484ebe6b65caebcceb6535e1918c3e7.rdx
MUSA508_FINAL_SFPARK_cache/html/confusion_matrix_2df054b571984e4973d182969054042e.RData
MUSA508_FINAL_SFPARK_cache/html/confusion_matrix_2df054b571984e4973d182969054042e.rdb
MUSA508_FINAL_SFPARK_cache/html/confusion_matrix_2df054b571984e4973d182969054042e.rdx
MUSA508_FINAL_SFPARK_cache/html/corr_plot_aa15613ca1d97271d4e880de76021015.RData
MUSA508_FINAL_SFPARK_cache/html/corr_plot_aa15613ca1d97271d4e880de76021015.rdb
MUSA508_FINAL_SFPARK_cache/html/corr_plot_aa15613ca1d97271d4e880de76021015.rdx
MUSA508_FINAL_SFPARK_cache/html/cv_79127f12fd2f4bc8cc79fc4fef13c9a2.RData
MUSA508_FINAL_SFPARK_cache/html/cv_79127f12fd2f4bc8cc79fc4fef13c9a2.rdb
MUSA508_FINAL_SFPARK_cache/html/cv_79127f12fd2f4bc8cc79fc4fef13c9a2.rdx
MUSA508_FINAL_SFPARK_cache/html/cv_hist_b8be84bdb7fd458acf45b622aadcfa5a.RData
MUSA508_FINAL_SFPARK_cache/html/cv_hist_b8be84bdb7fd458acf45b622aadcfa5a.rdb
MUSA508_FINAL_SFPARK_cache/html/cv_hist_b8be84bdb7fd458acf45b622aadcfa5a.rdx
MUSA508_FINAL_SFPARK_cache/html/data_block_group_e0206b5cb23b1b757adeeca66de6522d.RData
MUSA508_FINAL_SFPARK_cache/html/data_block_group_e0206b5cb23b1b757adeeca66de6522d.rdb
MUSA508_FINAL_SFPARK_cache/html/data_block_group_e0206b5cb23b1b757adeeca66de6522d.rdx
MUSA508_FINAL_SFPARK_cache/html/data_census_6a1e5cdf965b7db2e5c5138c6343f348.RData
MUSA508_FINAL_SFPARK_cache/html/data_census_6a1e5cdf965b7db2e5c5138c6343f348.rdb
MUSA508_FINAL_SFPARK_cache/html/data_census_6a1e5cdf965b7db2e5c5138c6343f348.rdx
MUSA508_FINAL_SFPARK_cache/html/data_meter_2381df735fe8138abaeda1cf12b1d8c3.RData
MUSA508_FINAL_SFPARK_cache/html/data_meter_2381df735fe8138abaeda1cf12b1d8c3.rdb
MUSA508_FINAL_SFPARK_cache/html/data_meter_2381df735fe8138abaeda1cf12b1d8c3.rdx
MUSA508_FINAL_SFPARK_cache/html/data_park_b14bbb311bf8f55fb88aca4f3ce2f088.RData
MUSA508_FINAL_SFPARK_cache/html/data_park_b14bbb311bf8f55fb88aca4f3ce2f088.rdb
MUSA508_FINAL_SFPARK_cache/html/data_park_b14bbb311bf8f55fb88aca4f3ce2f088.rdx
MUSA508_FINAL_SFPARK_cache/html/data_time_lag_af0ddaa63c7dca3c4077cab7fdb1c45b.RData
MUSA508_FINAL_SFPARK_cache/html/data_time_lag_af0ddaa63c7dca3c4077cab7fdb1c45b.rdb
MUSA508_FINAL_SFPARK_cache/html/data_time_lag_af0ddaa63c7dca3c4077cab7fdb1c45b.rdx
MUSA508_FINAL_SFPARK_cache/html/data_weather_join_8649f2977bbe04f3da1c589cb28ee253.RData
MUSA508_FINAL_SFPARK_cache/html/data_weather_join_8649f2977bbe04f3da1c589cb28ee253.rdb
MUSA508_FINAL_SFPARK_cache/html/data_weather_join_8649f2977bbe04f3da1c589cb28ee253.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_lag_b55e7db5c985c5f1472f5454abfc4ba7.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_lag_b55e7db5c985c5f1472f5454abfc4ba7.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_lag_b55e7db5c985c5f1472f5454abfc4ba7.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_tabs_1d3d34a825a2d6ae3199c90a11f1e064.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_tabs_1d3d34a825a2d6ae3199c90a11f1e064.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_avg_tabs_1d3d34a825a2d6ae3199c90a11f1e064.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_corr_avg_7527cec46c3b9db6b7e63ba781830627.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_corr_avg_7527cec46c3b9db6b7e63ba781830627.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_corr_avg_7527cec46c3b9db6b7e63ba781830627.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_hist_367dda8600f2a7f5139b61d8094ea5fe.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_hist_367dda8600f2a7f5139b61d8094ea5fe.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_hist_367dda8600f2a7f5139b61d8094ea5fe.rdx
MUSA508_FINAL_SFPARK_cache/html/eda_lag_e98613a9f06d5366d3fabfbf3fedb884.RData
MUSA508_FINAL_SFPARK_cache/html/eda_lag_e98613a9f06d5366d3fabfbf3fedb884.rdb
MUSA508_FINAL_SFPARK_cache/html/eda_lag_e98613a9f06d5366d3fabfbf3fedb884.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dcd9d574cd485884101a9b9344ae673f.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dcd9d574cd485884101a9b9344ae673f.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dcd9d574cd485884101a9b9344ae673f.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwntn_26c53f6b03217de88d385433c60aab77.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwntn_26c53f6b03217de88d385433c60aab77.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwntn_26c53f6b03217de88d385433c60aab77.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwtn_1_2b94d9d0e6d7f10e33b4188aa1f3f125.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwtn_1_2b94d9d0e6d7f10e33b4188aa1f3f125.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_map_dwtn_1_2b94d9d0e6d7f10e33b4188aa1f3f125.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_table_71a18f2126c8d2ed4ef8d4e6b65c8b6c.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_table_71a18f2126c8d2ed4ef8d4e6b65c8b6c.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_table_71a18f2126c8d2ed4ef8d4e6b65c8b6c.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_table_b_28e13f695e1facf5546455e03488fcd5.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_table_b_28e13f695e1facf5546455e03488fcd5.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_table_b_28e13f695e1facf5546455e03488fcd5.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_table_weekday_a8e01fb59af40f6238e5cd61be42e45d.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_table_weekday_a8e01fb59af40f6238e5cd61be42e45d.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_table_weekday_a8e01fb59af40f6238e5cd61be42e45d.rdx
MUSA508_FINAL_SFPARK_cache/html/EDA_timeseries_cb5f2ad9afa01445dc50bfd892f55fa7.RData
MUSA508_FINAL_SFPARK_cache/html/EDA_timeseries_cb5f2ad9afa01445dc50bfd892f55fa7.rdb
MUSA508_FINAL_SFPARK_cache/html/EDA_timeseries_cb5f2ad9afa01445dc50bfd892f55fa7.rdx
MUSA508_FINAL_SFPARK_cache/html/fit_cc01b1cf0655d8974b3fafe3f8e92e0d.RData
MUSA508_FINAL_SFPARK_cache/html/fit_cc01b1cf0655d8974b3fafe3f8e92e0d.rdb
MUSA508_FINAL_SFPARK_cache/html/fit_cc01b1cf0655d8974b3fafe3f8e92e0d.rdx
MUSA508_FINAL_SFPARK_cache/html/function__2528d13b3ebe3147946cdec333ddf895.RData
MUSA508_FINAL_SFPARK_cache/html/function__2528d13b3ebe3147946cdec333ddf895.rdb
MUSA508_FINAL_SFPARK_cache/html/function__2528d13b3ebe3147946cdec333ddf895.rdx
MUSA508_FINAL_SFPARK_cache/html/import_weather_1f1ba3951fd810dec998195b7d7d764a.RData
MUSA508_FINAL_SFPARK_cache/html/import_weather_1f1ba3951fd810dec998195b7d7d764a.rdb
MUSA508_FINAL_SFPARK_cache/html/import_weather_1f1ba3951fd810dec998195b7d7d764a.rdx
MUSA508_FINAL_SFPARK_cache/html/intro_1fa901c32ac77b478c0c9e190b6e7f30.RData
MUSA508_FINAL_SFPARK_cache/html/intro_1fa901c32ac77b478c0c9e190b6e7f30.rdb
MUSA508_FINAL_SFPARK_cache/html/intro_1fa901c32ac77b478c0c9e190b6e7f30.rdx
MUSA508_FINAL_SFPARK_cache/html/lm__d_def3a4a5abc31428c80bc4c05b8ec9a8.RData
MUSA508_FINAL_SFPARK_cache/html/lm__d_def3a4a5abc31428c80bc4c05b8ec9a8.rdb
MUSA508_FINAL_SFPARK_cache/html/lm__d_def3a4a5abc31428c80bc4c05b8ec9a8.rdx
MUSA508_FINAL_SFPARK_cache/html/lm_all_ad2f7d8caab6088cb303ea0d6790663c.RData
MUSA508_FINAL_SFPARK_cache/html/lm_all_ad2f7d8caab6088cb303ea0d6790663c.rdb
MUSA508_FINAL_SFPARK_cache/html/lm_all_ad2f7d8caab6088cb303ea0d6790663c.rdx
MUSA508_FINAL_SFPARK_cache/html/lm_dwtn_ed5d2e7ffd90f62fb5b055e9a62a45d5.RData
MUSA508_FINAL_SFPARK_cache/html/lm_dwtn_ed5d2e7ffd90f62fb5b055e9a62a45d5.rdb
MUSA508_FINAL_SFPARK_cache/html/lm_dwtn_ed5d2e7ffd90f62fb5b055e9a62a45d5.rdx
MUSA508_FINAL_SFPARK_cache/html/mode_comp_a846bd914f1115eaba8c4ded150235ed.RData
MUSA508_FINAL_SFPARK_cache/html/mode_comp_a846bd914f1115eaba8c4ded150235ed.rdb
MUSA508_FINAL_SFPARK_cache/html/mode_comp_a846bd914f1115eaba8c4ded150235ed.rdx
MUSA508_FINAL_SFPARK_cache/html/partition_ebca52b6830d29e0ae4ca6eadf4843ad.RData
MUSA508_FINAL_SFPARK_cache/html/partition_ebca52b6830d29e0ae4ca6eadf4843ad.rdb
MUSA508_FINAL_SFPARK_cache/html/partition_ebca52b6830d29e0ae4ca6eadf4843ad.rdx
MUSA508_FINAL_SFPARK_cache/html/plot_time_weekday_75cb5e6dc3ac7209ff8da24dd80e2f4c.RData
MUSA508_FINAL_SFPARK_cache/html/plot_time_weekday_75cb5e6dc3ac7209ff8da24dd80e2f4c.rdb
MUSA508_FINAL_SFPARK_cache/html/plot_time_weekday_75cb5e6dc3ac7209ff8da24dd80e2f4c.rdx
MUSA508_FINAL_SFPARK_cache/html/plot_weather_ea607701aa5516348acaccddecba5b4c.RData
MUSA508_FINAL_SFPARK_cache/html/plot_weather_ea607701aa5516348acaccddecba5b4c.rdb
MUSA508_FINAL_SFPARK_cache/html/plot_weather_ea607701aa5516348acaccddecba5b4c.rdx
MUSA508_FINAL_SFPARK_cache/html/plotp_9ee3b52324b58151e318d9bea0db5389.RData
MUSA508_FINAL_SFPARK_cache/html/plotp_9ee3b52324b58151e318d9bea0db5389.rdb
MUSA508_FINAL_SFPARK_cache/html/plotp_9ee3b52324b58151e318d9bea0db5389.rdx
MUSA508_FINAL_SFPARK_cache/html/summ_table_51af75b5b14123036b991c9095fa5b3b.RData
MUSA508_FINAL_SFPARK_cache/html/summ_table_51af75b5b14123036b991c9095fa5b3b.rdb
MUSA508_FINAL_SFPARK_cache/html/summ_table_51af75b5b14123036b991c9095fa5b3b.rdx
data/block_count_occ.csv
data/block_count_occ.parquet
data/Blockfaces.geojson
data/lm_dwtn_id.parquet
data/park_all_summary.parquet
data/park_dwtn_summary.parquet
data/Parking Meters.geojson
data/Parking_Management_Districts.csv
data/Planning Department Neighborhood Quadrants.geojson
data/sf_2019census.geojson
data/sf_2019census.parquet
data/sf_weather_2019.parquet
data/sfpark_clean_data.parquet
*.parquet
