
~$Park_Fields.xlsx
Park_Fields.xlsx
2021-12-03 19_03_44-Park_Fields - Excel.png
SFPark_standard_meter_behavior.png
grouper_funct.txt
Meter_Operating_Schedules.csv
Meter_Regular_Operating.csv
Meter_Regular_Operating_Good.csv
meter_starts_ends.parquet
meter_transactions.parquet
SFMTA_Parking_Meter_Detailed_Revenue_Transactions.csv
CPLN 500 - Paper 2.pdf
